@model ConfirmEmailViewModel

@{
    TempData["Message"] = Model.Message;
}

<style>
    .text {
        display: flex;
        background-color: aquamarine;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-weight: bold;
        font-size: 18px;
    }

    footer {
        visibility: hidden;
    }
</style>

<p class="text">@TempData["Message"] <a href="/User/Login" class="ms-2">Log in</a></p>
