@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot your password?";
}

@if (Model.IsEmailSend)
{
    <div class="alert alert-success col-md-4" role="alert">
        <p>We have send email on your registered email.</p>
    </div>
}
else
{
    <h1>@ViewData["Title"]</h1>
    <h2>No worries you can reset it easily.</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="User" asp-action="ForgotPassword" method="post">
                <div class="form-floating mb-2">
                    <input asp-for="@Model.Email" class="form-control" required />
                    <label asp-for="@Model.Email" class="form-label"></label>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
}

<div>
    <p>Back to <a asp-controller="User" asp-action="Login">Login</a></p>
</div>
