@model IEnumerable<AllProteinPowderViewModel>
@inject IProteinPowderService ProteinPowderService;

@{
    TempData["Title"] = "Here you can see all our protein powders";
}

<style>
    .card-img-container {
        width: 200px;
        height: 200px;
        cursor: pointer;
    }

        .card-img-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
</style>

@* This check is in place to prevent someone from attempting to add a large quantity of unflavored proteins, which would be deleted upon page refresh. *@
@foreach (var model in Model)
{
    var proteinPowder = await ProteinPowderService.FindProteinPowder(model.Id);

    var timeforAddFlavorExpired = proteinPowder.TimeForAddFlavor.AddMinutes(5);
    var currentTime = DateTime.UtcNow;

    if (timeforAddFlavorExpired <= currentTime)
    {
        if (proteinPowder.ProteinFlavors.Count == 0)
        {
            await ProteinPowderService.DeleteProteinPowder(model.Id);
        }
    }
}

<h1 class="text-center">@TempData["Title"]</h1>

<div class="row">
    @foreach (var proteinPowder in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/@proteinPowder.Image" class="card-img-container" alt="@proteinPowder.Name Image" onclick="openProtein(@proteinPowder.Id)">
                <div class="card-body">
                    <h5 class="card-title">@proteinPowder.Name</h5>
                    <p><strong>Price:</strong> $@proteinPowder.Price</p>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        function openProtein(proteinId) {
            var url = '/ProteinPowder/ViewProteinPowder/' + proteinId;

            window.location.href = url;
        }
    </script>
}