.main {
    margin: 10px 60px 50px 60px !important;
}

.searchField {
    margin: 0 25px 0 100px;
}

.card {
    position: relative;
    width: 300px; /* can be omitted for a regular non-lazy image */
    max-width: 100%;
    align-items: center;
}

.card-img-container {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

    .card-img-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

.card .second.image {
    position: absolute;
    bottom: 104px;
    opacity: 0;
    transition: opacity .2s;
}

.card:hover .second.image {
    opacity: 1;
}

img:hover {
    cursor: pointer;
}
