#editForm {
    margin: 10px 35px;
}

.remove {
    color: red;
    margin: 25px 0px 0px 5px;
}

footer {
    position: absolute !important;
}

.remove:hover {
    color: white;
    cursor: pointer;
    background-color: red;
}