@model IEnumerable<AllClothesViewModel>

<style>
    .card-img-container {
        width: 200px;
        height: 200px;
        cursor: pointer;
    }

        .card-img-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
</style>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/@item.Image" class="card-img-container" alt="@item.Name Image" onclick="openCloth(@item.Id)">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p><strong>Price:</strong> $@item.Price</p>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        function openCloth(itemId) {
            var url = '/Clothes/ViewCloth/' + itemId;

            window.location.href = url;
        }
    </script>
}