@model IEnumerable<AllClothesViewModel>

<link href="/css/clothes//viewTypeOfCloth.css" rel="stylesheet" />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/@item.Image" class="card-img-container" alt="@item.Name Image" onclick="openCloth(@item.Id)">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p><strong>Price:</strong> $@item.Price</p>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="/js/clothe/viewTypeOfClothe.js"></script>
}