<link href="/css/home/aboutUs.css" rel="stylesheet" />

<h1 class="text-center">About us</h1>

<div class="content">
    <p class="heading">About Us</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu lacus lectus. Vestibulum malesuada mollis nulla. Aenean lacinia risus quis sapien sollicitudin, eget porttitor libero ullamcorper. Sed tristique convallis justo, id interdum erat efficitur id. Proin eget augue at erat consequat tincidunt. Ut mattis nibh nec eleifend pretium. Etiam et.</p>

    <p class="heading">Our mission</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu lacus lectus. Vestibulum malesuada mollis nulla. Aenean lacinia risus quis sapien sollicitudin.</p>

    <p class="heading">Our vision</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu lacus lectus. Vestibulum malesuada mollis nulla. Aenean lacinia risus quis sapien sollicitudin, eget porttitor libero ullamcorper.</p>
</div>