@model ContactViewModel
@using static SportStyleOasis.Common.GeneralApplicationConstants;
@inject IUserService UserService;
@inject IConfiguration configuration;
@{
    var userFullName = await UserService.GetUserFullNameByIdAsync(User.GetId());
    var apiKey = configuration["GoogleMapsApiKey:googleApiKey"];
}

<link href="/css/home/contact.css" rel="stylesheet" />

<h2 class="text-center">Contact Form</h2>

<div class="contact-form">
    <form asp-controller="Home" asp-action="Contact" method="post">
        <div class="form-group">
            <label asp-for="FullName" class="form-label-add-edit">Name</label>
            <input asp-for="FullName" class="form-control" required placeholder="Your name" value="@userFullName" min="@FullNameMinLenght" max="@FullNameMaxLenght" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Subject" class="form-label-add-edit">Email</label>
            <input asp-for="Subject" class="form-control" required placeholder="Your subject" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Message" class="form-label-add-edit">Message</label>
            <textarea asp-for="Message" class="form-control" required rows="3" placeholder="Your message to us"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>

    <div id="map"></div>
</div>

<script>
    let map;

    async function initMap() {
        const position = { lat: 42.651810, lng: 23.350520 };

        const { Map } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

        map = new Map(document.getElementById("map"), {
            zoom: 15,
            center: position,
            mapId: "DEMO_MAP_ID",
        });

        const marker = new AdvancedMarkerElement({
            map: map,
            position: position,
            title: "Uluru",
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=@apiKey&callback=initMap&loading=async">
</script>
