@model IEnumerable<UserViewModel>
@using SportStyleOasis.Web.Infrastructure.Extensions;

@{
    ViewData["Title"] = "All Users";

    var userId = User.GetId();
}

<link href="/css/admin/user/all.css" rel="stylesheet" />

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><label>Email</label></th>
                <th><label>Full Name</label></th>
                <th><label>Phone Number</label></th>
                <th><label>Delete User</label></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td><label>@user.Email</label></td>
                    <td><label>@user.FullName</label></td>
                    <td><label>@user.PhoneNumber</label></td>
                    @* This check prevents the admin from deleting themselves.*@
                    @if (userId != user.Id.ToLower())
                    {
                        <td>
                            <button class="btn-sl btn-danger" onclick="confirmDelete(`@user.Id`, `@user.FullName`)">Delete</button>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <a asp-area="Admin" asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Home page</a>
</div>

<script src="/js/admin/user/all.js"></script>
