@model AllClothesViewModel

<style>
    .card-img-container {
        width: 200px;
        height: 200px;
        cursor: pointer;
    }

        .card-img-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
</style>

<div class="col-md-4 mb-4">
    <div class="card">
        <img src="~/images/@Model.Image" class="card-img-container" alt="@Model.Name Image"
             onclick="openCloth(@Model.Id)">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p><strong>Price:</strong> $@Model.Price</p>
        </div>
    </div>
</div>