@model AllClothesViewModel

<div class="col-md-4 mb-4">
    <div class="card">
        <img src="~/images/@Model.Image" class="card-img-container" alt="@Model.Name Image"
             onclick="openCloth(@Model.Id)">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p><strong>Price:</strong> $@Model.Price</p>
        </div>
    </div>
</div>