<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportStyleOasis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportStyleOasis.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SportStyleOasis</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Clothes" asp-action="All">All Clothes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProteinPowder" asp-action="All">All Protein Powders</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="menDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Male
                            </a>
                            <div class="dropdown-menu" aria-labelledby="menDropdown">
                                <a class="dropdown-item text-dark hover-menu" data-gender="Male" data-clothing="TShirt">T-Shirt</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Male" data-clothing="Bottom">Bottom</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Male" data-clothing="Sweatshirt">Sweatshirt</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Male" data-clothing="Tracksuit">Tracksuit</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Male" data-clothing="Tanktop">Tank Top</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Male" data-clothing="Shorts">Shorts</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Male" data-clothing="Top">Top</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Male" data-clothing="Socks">Socks</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="menDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Female
                            </a>
                            <div class="dropdown-menu" aria-labelledby="menDropdown">
                                <a class="dropdown-item text-dark hover-menu" data-gender="Female" data-clothing="TShirt">T-Shirt</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Female" data-clothing="Bottom">Bottom</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Female" data-clothing="Sweatshirt">Sweatshirt</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Female" data-clothing="Tracksuit">Tracksuit</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Female" data-clothing="Tanktop">Tank Top</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Female" data-clothing="Shorts">Shorts</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Female" data-clothing="Top">Top</a>
                                <a class="dropdown-item text-dark hover-menu" data-gender="Female" data-clothing="Socks">Socks</a>
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024-SportStyleOasis
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_NotificationsPartial">
        @await RenderSectionAsync("Scripts", required: false)
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

<script>
    $(document).ready(function () {
        $('.dropdown-item').click(function (e) {
            e.preventDefault();

            var gender = $(this).data('gender');
            var typeForClothes = $(this).data('clothing');

            window.location.href = '/Clothes/ViewTypeOfCloth?gender=' + gender + '&clothing=' + typeForClothes;
        });
    });

    function goToShoppingCart(cartId) {
        $.ajax({
            url: '/ShoppingCart/ViewShoppingCart',
            type: 'GET',
            data: { cartId },
            success: function (response) {
                window.location.href = '/ShoppingCart/ViewShoppingCart?cartId=' + cartId;
            },
            error: function (error) {
                alert("An error occurred while processing your request. Please try again later.");
            }
        });
    }
</script>