body{
    margin-bottom: 50px
}

.sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    border-bottom: 1px solid black;
}

.navbar-nav {
    justify-content:center;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.hover-menu:hover {
    cursor: pointer;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    background-color: white;
    border-top: 1px solid black;
}