@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService UserService
@inject IShoppingCartService ShoppingCartService
@using SportStyleOasis.Web.Infrastructure.Extensions;

@{
    var userId = User.GetId();
    var userFullName = await UserService.GetUserFullNameByIdAsync(userId);
}

<link href="/css/shared/loginPartial.css" rel="stylesheet" />

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var shoppingCartId = await ShoppingCartService.GetShoppingCartIdAsync(userId);
        var shoppingCartItems = await ShoppingCartService.GetShoppingCartItemsAsync(shoppingCartId);

        <li class="nav-item">
            <span class="cart-icon" onclick="goToShoppingCart(@shoppingCartId)">
                <i class="fa-solid fa-cart-shopping fa-lg"></i>
                <span class="cart-badge">@shoppingCartItems</span>
            </span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @userFullName</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>
