@model AllProteinPowderViewModel
@inject IProteinPowderService ProteinPowderService;

@{
    // This check is in place to prevent someone from attempting to add a large quantity of unflavored proteins.
    // Which would be deleted upon page refresh.

    var proteinPowder = await ProteinPowderService.FindProteinPowder(Model.Id);

    var timeforAddFlavorExpired = proteinPowder.TimeForAddFlavor.AddMinutes(5);
    var currentTime = DateTime.UtcNow;

    if (timeforAddFlavorExpired <= currentTime)
    {
        if (proteinPowder.ProteinFlavors.Count == 0)
        {
            await ProteinPowderService.DeleteProteinPowder(proteinPowder.Id);
        }
    }
}

<div class="col-md-4 mb-4">
    <div class="card">
        <img src="~/images/@Model.Image" class="card-img-container" alt="@Model.Name Image"
             onclick="openProtein(@Model.Id)">
        <img src="~/images/white_tshirt.jpg" alt="Alternate Text" class="card-img-container second image" onclick="openProtein(@Model.Id)"/>
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p><strong>Price:</strong> $@Model.Price</p>
        </div>
    </div>
</div>